<h1 class="my-3">Answer</h1>

<div class="message my-5">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div class="message my-5">
  <p><%= @answer %></p>
  <p>- Your Coach</p>
</div>


<%= link_to "ask a new question", ask_path %>
