<h1 class="my-3">Form</h1 >
<form class = "input-group" action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="question" placeholder="Ask your question">
  <input class="btn btn-primary" type="submit" value="ask">
</form>
